{% extends 'gentelella-portal-base.html' %}
{% load staticfiles %}

{% block title %}Payments Uploaded{% endblock title %}

{% block content %}

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h1>Uh oh!</h1>

                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4>Payment information upload failed.</h4>

                    <p>Please make sure you uploaded a correctly formatted CSV file.</p>
                    <br/><br/>
                    <a href="{% url 'portal:payments:upload_payment' %}"
                       class="btn btn-primary">
                        Upload Payments</a>
                    <a href="{% url 'portal:payments:payment_history' %}"
                       class="btn btn-primary">
                        View Payment History</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}