{% extends 'gentelella-portal-base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Upload Payment{% endblock title %}

{% block content %}

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Payments</h3>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Upload Payments</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form action="{% url 'portal:payments:upload_payment_file' %}" enctype="multipart/form-data"
                                  method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="payment_file">Select payment file to upload</label>
                                    <input type="file" name="payment_file">
                                    <p class="help-block">Payment files must be CSV files (.csv).</p>
                                </div>

                                <button type="submit" class="btn btn-primary">Upload</button>
                            </form>

                            <div class="ln_solid"></div>
                            <div>
                                <h4>CSV Format</h4>
                                <p>Below is the format for the CSV files.
                                <br/><br/>
                                <strong>participant,payment_date,payment_amount,payment_description</strong>
                                <br/><br/>
                                where <strong>participant</strong> is the participant id.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}