{% extends 'gentelella-portal-base.html' %}
{% load static %}

{% block extra_css %}
    <!-- Datatables -->
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}"
          rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="{% static 'bower_components/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css' %}"
          rel="stylesheet">
    <!-- Switchery -->
    <link href="{% static 'bower_components/gentelella/vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">

{% endblock extra_css %}

{% block title %}Compliance{% endblock title %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3>Detailed Compliance Scores</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <!--<div class="x_title">-->
                        <!--<h2>{{ current_month }} Compliance </h2>-->
                        <!--<div class="clearfix"></div>-->
                    <!--</div>-->

                    <div class="x_content">

                        <!-- start accordion -->
                        <!--<div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">-->
                            <!--<div class="panel">-->
                                <!--<a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse"-->
                                   <!--data-parent="#accordion" href="#collapseOne" aria-expanded="true"-->
                                   <!--aria-controls="collapseOne">-->
                                    <!--<h4 class="panel-title">Filter by Overall Compliance</h4>-->
                                <!--</a>-->
                                <!--<div id="collapseOne" class="panel-collapse collapse" role="tabpanel"-->
                                     <!--aria-labelledby="headingOne">-->
                                    <!--<div class="panel-body">-->
                                        <!--&lt;!&ndash; Filter form &ndash;&gt;-->
                                        <!--<form data-parsley-validate-->
                                              <!--class="form-horizontal form-label-left"-->
                                              <!--style="display: flex; flex-direction: row;">-->
                                            <!--{% csrf_token %}-->
                                            <!--<div class="form-group">-->
                                                <!--<label class="control-label col-md-3 col-sm-3 col-xs-12"-->
                                                       <!--for="filter-start">Start-->
                                                <!--</label>-->
                                                <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                                                    <!--<input type="number" id="filter-start" min="0" max="100" value="0"-->
                                                           <!--class="form-control col-md-7 col-xs-12 filter-input">-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="form-group">-->
                                                <!--<label class="control-label col-md-3 col-sm-3 col-xs-12"-->
                                                       <!--for="filter-end">End-->
                                                <!--</label>-->
                                                <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                                                    <!--<input type="number" id="filter-end" min="0" max="100" value="100"-->
                                                           <!--class="form-control col-md-7 col-xs-12 filter-input">-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--<div class="form-group">-->
                                                <!--<div class="col-md-12 col-sm-12 col-xs-12 ">-->
                                                    <!--<button class="btn btn-primary" type="reset">Clear</button>-->
                                                    <!--<button id="filter_btn" class="btn btn-success">Filter</button>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</form> &lt;!&ndash; end Filter form &ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--&lt;!&ndash;<div class="panel">&ndash;&gt;-->
                                <!--&lt;!&ndash;<a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse"&ndash;&gt;-->
                                   <!--&lt;!&ndash;data-parent="#accordion" href="#collapseTwo" aria-expanded="false"&ndash;&gt;-->
                                   <!--&lt;!&ndash;aria-controls="collapseTwo">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<h4 class="panel-title">Select Date Range</h4>&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"&ndash;&gt;-->
                                     <!--&lt;!&ndash;aria-labelledby="headingTwo">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="panel-body">&ndash;&gt;-->

                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; end of accordion &ndash;&gt;-->
                        <br/>
                        <div class="container row">
                            <!--<div class="col-md-9"></div>-->
                             <div class="col-md-3">
                                            <label>Registration Date:</label>
                                            <div id="registration_date"
                                                 style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                                <i class="fa fa-calendar"></i>
                                                <span id="registration_date_input"></span>
                                                <i class="fa fa-caret-down pull-right"></i>
                                            </div>
                                    <input type="hidden" id="registration_start" value="" />
                                 <input type="hidden" id="registration_end" value="" />
                                        </div>
                            <div class="col-md-3">
                                            <label>Compliance Date Range:</label>
                                            <div id="reportrange"
                                                 style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                                <i class="fa fa-calendar"></i>
                                                <span id="daterange"></span>
                                                <i class="fa fa-caret-down pull-right"></i>
                                            </div>
                                    <input type="hidden" id="start_date" value="" />
                                 <input type="hidden" id="end_date" value="" />
                                        </div>
                            <div class="col-md-1">
                                <label>Cohort</label>
                                <select id="cohort_select" class="form-inline form-control input-sm" >
                                    <option value="">All</option>
                                    {% for cohort in cohorts %}
                                    <option value="{{ cohort.cohort }}">{{ cohort.cohort }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button type="button" id="update_table_button" class="btn btn-success" style="position: relative; top: 22px;">Update</button>
                            </div>
                        </div>

                        <br />
                        <!--<div class="container row">-->
                            <!--<div class="col-md-6">-->
                                <!--<div id="buttons" style="padding-left: 15px">Export: </div>-->
                            <!--</div>-->

                            <!--<div class="col-md-6">-->
                                <!--<div class="pull-right">-->
                                    <!--<label> Show Overrides-->
                                        <!--<input type="checkbox" class="override-toggle" onclick="renderTable()"/>-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="ln_solid"></div>

                        <div class="table-responsive" id="compliance-table-div">

                        </div>
                    </div> <!-- end datatable panel -->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <!-- Datatables -->
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/pdfmake/build/vfs_fonts.js' %}"></script>

    <!-- Switchery -->
    <script src="{% static 'bower_components/gentelella/vendors/switchery/dist/switchery.min.js' %}"></script>

    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'bower_components/gentelella/vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    <script type="text/javascript">

        $(document).ready(function () {


            init_compliancedaterangepicker();
            init_registration_date_picker();
            init_overridetoggle();

            $("#filter_btn").click(function (e) {
                e.preventDefault();
                renderTable();
            });

            $('#update_table_button').click(function(){
                renderTable();
            });


            renderTable();

        });

        function renderTable() {


            // Check if the show overrides switch is on
            // var overrides =  document.querySelector('.override-toggle').checked;
            // console.log("Show Overrides? ", overrides);
            $('#compliance-table-div').html('<h3 style="width: 100%; text-align: center;">Loading...<br /><i class="fa fa-spinner fa-spin fa-fw"></i></h3>');
            $.ajax({
                type: "GET",
                url: "/portal/compliance/get_all_detailed_table/",
                data: {
                    // start_value: $('#filter-start').val(),
                    // end_value: $('#filter-end').val(),
                    start_date: $('#start_date').val(),
                    end_date: $('#end_date').val(),
                    registration_start: $('#registration_start').val(),
                    registration_end: $('#registration_end').val(),
                    cohort: $('#cohort_select').val()
                },
                dataType: "html",
                success: function (result) {
                    console.log("SUCCESS!");
                    $("#compliance-table-div").html('').append(result);

                    var table = $('#datatable-buttons').DataTable({
                        "pageLength": 50
                    });

                    var buttons = new $.fn.dataTable.Buttons(table, {
                        buttons: [
                            'csvHtml5'
                        ]
                    }).container().appendTo($('#buttons'));

                    if ($('#buttons').contents().length > 2) {
                        $('#buttons').contents()[1].remove();
                    }

                },
                error: function (result) {
                    console.log("ERROR:", result);

            $('#compliance-table-div').html('<h3 style="width: 100%; text-align: center;">An error occured while loading data.');
                }
            });
        }

        /* DATERANGEPICKER */

        function init_compliancedaterangepicker() {

            if (typeof ($.fn.daterangepicker) === 'undefined') {
                return;
            }
            console.log('init_compliancedaterangepicker');

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            };

            $('#start_date').val(moment().subtract(30, 'days').format('YYYY-MM-DD'));
            $('#end_date').val(moment().subtract(1, 'days').format('YYYY-MM-DD'));

            var optionSet1 = {
                startDate: moment().subtract(30, 'days'),
                endDate: moment().subtract(1, 'days'),
                minDate: "01/01/2017",
                maxDate: "01/01/2020",
                showDropdowns: false,
                showWeekNumbers: false,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Last 7 Days': [moment().subtract(7, 'days'), moment().subtract(1, 'days')],
                    'Last 30 Days': [moment().subtract(30, 'days'), moment().subtract(1, 'days')],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'),
                        moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'right',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September',
                        'October', 'November', 'December'],
                    firstDay: 1
                },
                autoApply: true,
                alwaysShowCalendars: true
            };

            $('#reportrange span').html(moment().subtract(30, 'days').format('MMMM D, YYYY') + ' - ' +
                moment().subtract(1, 'days').format('MMMM D, YYYY'));
            $('#reportrange').daterangepicker(optionSet1, cb);
            $('#reportrange').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#reportrange').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {

                $('#start_date').val(picker.startDate.format('YYYY-MM-DD'));
                $('#end_date').val(picker.endDate.format('YYYY-MM-DD'));
                //renderTable(picker.startDate.format('MMMM D, YYYY'), picker.endDate.format('MMMM D, YYYY'), overrides)
            });
            $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange').data('daterangepicker').remove();
            });

        }

        function init_registration_date_picker() {

            if (typeof ($.fn.daterangepicker) === 'undefined') {
                return;
            }
            // console.log('init_compliancedaterangepicker');

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#registration_date span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            };

            $('#registration_start').val("2018-01-24");
            $('#registration_end').val(moment().subtract(1, 'days').format('YYYY-MM-DD'));

            var optionSet1 = {
                startDate: "01/24/2018",
                endDate: moment().subtract(1, 'days'),
                minDate: "01/01/2017",
                maxDate: "01/01/2020",
                showDropdowns: false,
                showWeekNumbers: false,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Last 7 Days': [moment().subtract(7, 'days'), moment().subtract(1, 'days')],
                    'Last 30 Days': [moment().subtract(30, 'days'), moment().subtract(1, 'days')],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'),
                        moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'right',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September',
                        'October', 'November', 'December'],
                    firstDay: 1
                },
                autoApply: true,
                alwaysShowCalendars: true
            };

            $('#registration_date span').html(moment("20180124").format('MMMM D, YYYY') + ' - ' +
                moment().subtract(1, 'days').format('MMMM D, YYYY'));
            $('#registration_date').daterangepicker(optionSet1, cb);
            $('#registration_date').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#registration_date').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#registration_date').on('apply.daterangepicker', function (ev, picker) {
                console.log(typeof picker.startDate.toDate());//format('MMMM D, YYYY')
                //renderTable(picker.startDate.format('MMMM D, YYYY'), picker.endDate.format('MMMM D, YYYY'), overrides);
                $('#registration_end').val(picker.endDate.format('YYYY-MM-DD'));
                $('#registration_start').val(picker.startDate.format('YYYY-MM-DD'));

            });
            $('#registration_date').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#registration_date').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#registration_date').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#registration_date').data('daterangepicker').remove();
            });

        }


        // Switchery
        function init_overridetoggle() {
            console.log('init_overridetoggle');
            if ($(".override-toggle")[0]) {
                var elems = Array.prototype.slice.call(document.querySelectorAll('.override-toggle'));
                elems.forEach(function (html) {
                    var switchery = new Switchery(html, {
                        color: '#26B99A'
                    });
                });
            }
        }

    </script>
{% endblock js %}
