<table id="datatable-buttons" class="table table-striped table-bordered staff-compliance-list">
    <thead>
    <tr>
        <th class="sorting">Participant ID</th>
        {% for category in categories %}
        <th class="sorting">{{ category.major_name }} {% if category.minor_name != '' %}- {{ category.minor_name }}{% endif %}</th>
        {% endfor %}
        <!--<th class="sorting"><i class="fa fa-check-square"></i> Survey Compliance</th>-->
        <!--<th class="sorting"><i class="fa fa-heartbeat"></i> Wearable Compliance</th>-->
        <!--<th class="sorting"><i class="fa fa-phone-square"></i> Phone Agent Compliance</th>-->
        <!--<th class="sorting_desc">Overall Compliance</th>-->
    </tr>
    </thead>

    <tbody>
    {% for participant in participants %}
        <tr data-id="{{ participant.participant_id }}" data-type="participant-row">
            <td class=" "><a href="{% url 'portal:compliance:get_participant_compliance_profile' participant_id=participant.participant_id %}" style="text-decoration: underline;" target="_blank">{{ participant.participant_id }}</a></td>
            {% for value in participant.values %}
                {% if value.value >= 80 %}
                    <td class="good-compliance-color">
                        <a href="{% url 'portal:compliance:get_participant_detailed_compliance_page' participant_id=participant.participant_id major_stream=value.major %}" class="good-compliance-color" target="_blank" style="text-decoration: underline;">{{ value.value|floatformat:2 }}%</a>
                    </td>
                {% elif value.value >= 60 %}
                    <td class="warning-compliance-color">
                        <a href="{% url 'portal:compliance:get_participant_detailed_compliance_page' participant_id=participant.participant_id major_stream=value.major %}" class="warning-compliance-color" target="_blank" style="text-decoration: underline;">{{ value.value|floatformat:2 }}%</a>
                    </td>
                {% else %}
                    <td class="bad-compliance-color">
                        <a href="{% url 'portal:compliance:get_participant_detailed_compliance_page' participant_id=participant.participant_id major_stream=value.major %}" class="bad-compliance-color" target="_blank" style="text-decoration: underline;">{{ value.value|floatformat:2 }}%</a>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>