<table id="datatable-buttons" class="table table-striped table-bordered staff-compliance-list">
    <thead>
    <tr>
        <th class="sorting">Participant ID</th>
        <th class="sorting"><i class="fa fa-check-square"></i> Survey Compliance</th>
        <th class="sorting"><i class="fa fa-heartbeat"></i> Wearable Compliance</th>
        <th class="sorting"><i class="fa fa-phone-square"></i> Phone Agent Compliance</th>
        <th class="sorting_desc">Overall Compliance</th>
    </tr>
    </thead>

    <tbody>
    {% for pcomp in all_participant_compliances %}
        <tr data-id="{{ pcomp.participant }}" data-type="participant-row">
            <td class=" "><a href="{% url 'portal:compliance:get_participant_compliance_profile' participant_id=pcomp.participant %}" style="text-decoration: underline;" target="_blank">{{ pcomp.participant}}</a></td>
            <!-- Survey column -->
            {% if pcomp.compliances.months_survey_compliance >= 80 %}
                <td class="good-compliance-color">
                    {{ pcomp.compliances.months_survey_compliance|floatformat:2 }}%
                </td>
            {% elif pcomp.compliances.months_survey_compliance >= 60 %}
                <td class="warning-compliance-color">
                    {{ pcomp.compliances.months_survey_compliance|floatformat:2 }}%
                </td>
            {% else %}
                <td class="bad-compliance-color">
                    {{ pcomp.compliances.months_survey_compliance|floatformat:2 }}%
                </td>
            {% endif %}

            <!-- Wearable column -->
            {% if pcomp.compliances.months_wearable_compliance >= 80 %}
                <td class="good-compliance-color">
                    {{ pcomp.compliances.months_wearable_compliance|floatformat:2 }}%
                </td>
             {% elif pcomp.compliances.months_wearable_compliance >= 60 %}
                <td class="warning-compliance-color">
                    {{ pcomp.compliances.months_wearable_compliance|floatformat:2 }}%
                </td>
            {% else %}
                <td class="bad-compliance-color">
                    {{ pcomp.compliances.months_wearable_compliance|floatformat:2 }}%
                </td>
            {% endif %}

            <!-- Phone Agent column -->
            {% if pcomp.compliances.months_phone_agent_compliance >= 80 %}
                <td class="good-compliance-color">
                    <a class="good-compliance-color" style="text-decoration: underline;" href="http://tesserae-dashboard.crc.nd.edu/daily_report/personal/{{ pcomp.backend_participant_id }}" target="_blank" title="Link to Phone Agent Dashboard">{{ pcomp.compliances.months_phone_agent_compliance|floatformat:2 }}%</a>
                </td>
            {% elif pcomp.compliances.months_phone_agent_compliance >= 60 %}
                <td class="warning-compliance-color">
                    <a class="good-compliance-color" style="text-decoration: underline;" href="http://tesserae-dashboard.crc.nd.edu/daily_report/personal/{{ pcomp.backend_participant_id }}" target="_blank" title="Link to Phone Agent Dashboard">{{ pcomp.compliances.months_phone_agent_compliance|floatformat:2 }}%</a>
                </td>
            {% else %}
                <td class="bad-compliance-color">
                    <a class="bad-compliance-color" style="text-decoration: underline;" href="http://tesserae-dashboard.crc.nd.edu/daily_report/personal/{{ pcomp.backend_participant_id }}" target="_blank" title="Link to Phone Agent Dashboard">{{ pcomp.compliances.months_phone_agent_compliance|floatformat:2 }}%</a>
                </td>
            {% endif %}

            <!-- Overall column -->
            {% if pcomp.compliances.months_overall_compliance >= 80 %}
                <td class="good-compliance-color">
                    {{ pcomp.compliances.months_overall_compliance|floatformat:2 }}%
                </td>
            {% elif pcomp.compliances.months_overall_compliance >= 60 %}
                <td class="warning-compliance-color">
                    {{ pcomp.compliances.months_overall_compliance|floatformat:2 }}%
                </td>
            {% else %}
                <td class="bad-compliance-color">
                    {{ pcomp.compliances.months_overall_compliance|floatformat:2 }}%
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>