{% extends 'gentelella-portal-base.html' %}
{% load static %}

{% block extra_css %}
    <!-- Datatables -->
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}"
          rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="{% static 'bower_components/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css' %}"
          rel="stylesheet">
    <!-- Switchery -->
    <link href="{% static 'bower_components/gentelella/vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">

{% endblock extra_css %}

{% block title %}Compliance{% endblock title %}

{% block content %}

 <!-- page content -->
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3>Detailed {{ compliance_type }} Compliance Data for {{ participant.participant_id}} </h3>
            </div>
        </div>
        <!--<div class="clearfix"></div>-->

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2></h2>
                        <div class="clearfix" style="display: inline-block;">Email: <a href="mailto:{{ participant.gmail }}" style="text-decoration: underline;">{{ participant.gmail }}</a></div>
                        <div class="clearfix" style="display: inline-block; float: right;">Registration Date: {{ participant.registration_date }}</div>
                    </div>

                    <div class="x_content">
                        <div class="panel-body">
                                        <div class="col-md-3">
                                            Date: {{ date }}
                                        </div>
                                    </div>

                        <div class="table-responsive" id="compliance-table-div">
                            <table class="table">
                                <thead>
                                    <th>Time</th>
                                    {% for category in categories %}
                                    <th>{{ compliance_type }} - {{ category.name }} ({{ category.score|floatformat:2 }}%)</th>
                                    {% endfor %}
                                </thead>
                                <tbody>
                                {% for entry in details %}
                                    <tr>
                                        <td>{{ entry.time }}</td>
                                        {% for value in entry.values %}
                                        <td>
                                            {% if value == 0%}
                                                <span style="color: #E74C3C;">{{ value }}</span>
                                            {% else %}
                                                <span style="color: #1ABB9C;">{{ value }}</span>
                                            {% endif %}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}
    <!-- Datatables -->
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/pdfmake/build/vfs_fonts.js' %}"></script>

    <script>


        $(document).ready(function(){

        });
    </script>

{% endblock %}