{% extends 'gentelella-portal-base.html' %}
{% load staticfiles %}

{% block title %}Payments Uploaded{% endblock title %}

{% block content %}

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h1>Uh oh!</h1>

                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4>Override information upload failed.</h4>
                    {{ type }}:{{ specific }}
                    <p>Please make sure you uploaded a correctly formatted CSV file.</p>
                    <br/><br/>
                    <a href="{% url 'portal:compliance:upload_overrides' %}"
                       class="btn btn-primary">
                        Upload Compliance Overrides</a>
                    <a href="{% url 'portal:compliance:staff_compliance_table' %}"
                       class="btn btn-primary">
                        View Compliance Data</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}