{% extends 'gentelella-portal-base.html' %}
{% load static %}

{% block extra_css %}
    <!-- Datatables -->
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block title %}Compliance{% endblock title %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3>Compliance</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            {% if compliance_type == "Survey" %}
                                <i class="fa fa-check-square"></i>
                            {% elif compliance_type == "Wearable" %}
                                <i class="fa fa-heartbeat"></i>
                            {% elif compliance_type == "Phone Agent" %}
                                <i class="fa fa-phone-square"></i>
                            {% endif %}
                            {{ compliance_type }}
                        </h2>
                        <div style="text-align: right; width: 100%;">Last updated: {{ my_compliance.last.calculated_on }}{% if compliance_type != 'Survey' %}<br/> <a href="#" class='compliance_refresh_link' data-target="{{compliance_type}}" style="text-decoration: underline;">Refresh {{compliance_type}} Scores</a>{% endif %}</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div><p></p></div>
                        <div class="table-responsive">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Date</th>
                                        <th>Compliance</th>
                                    </tr>
                                </thead>

                                <tbody>
                                {% for entry in my_compliance %}
                                    <tr>
                                        <td class=" ">{{ entry.compliance_type }}</td>
                                        <td class=" ">{{ entry.compliance_date }}</td>
                                        <td class=" ">{{ entry.compliance_value }}%</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <!-- Datatables -->
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/pdfmake/build/vfs_fonts.js' %}"></script>

    <script>
        $(document).ready(function(){
            // add click functionality for the compliance refresh link
            $('.compliance_refresh_link').click(function(){
                var type = $(this).attr('data-target');
                $.ajax({
                    url: "{% url 'portal:compliance:request_compliance_refresh' %}",
                    data: {type: type},
                    dataType: 'json',
                    success: function(return_message){
                        if(return_message.success == true){
                            if(confirm("Request sent.  This process may take up to 10 seconds to complete.  Please wait at least 10 seconds, then click ok to refresh the page.")){
                                window.location.reload();
                            }
                        }
                        else{
                            alert(return_message.error);
                        }
                    },
                    error: function(){
                        alert("There was an error in sending your request.  Please submit an issue about this error.");
                    }
                });
            });
        });
    </script>
{% endblock js %}