<table id="datatable-buttons" class="table table-striped table-bordered staff-compliance-list">
    <thead>
    <tr>
        <th class="sorting">Date</th>
        {% for category in categories %}
        <th class="sorting">{{ category.major_name }} {% if category.minor_name %} - {{ category.minor_name }}{% endif %}</th>
        {% endfor %}
        <!--<th class="sorting"><i class="fa fa-check-square"></i> Survey Compliance</th>-->
        <!--<th class="sorting"><i class="fa fa-heartbeat"></i> Wearable Compliance</th>-->
        <!--<th class="sorting"><i class="fa fa-phone-square"></i> Phone Agent Compliance</th>-->
        <!--<th class="sorting_desc">Overall Compliance</th>-->
    </tr>
    </thead>

    <tbody>
    {% for value in compliance_data %}
        <tr data-id="{{ participant.participant_id }}" data-type="participant-row">
            <td class=" ">{{ value.date }}</td>
            {% for score in value.values %}
                {% if score.score >= 80 %}
                    <td class="good-compliance-color">
                        <a class="good-compliance-color" target="_blank" href="/portal/compliance/get_detailed_compliance/{{ participant.participant_id }}/{{ score.major }}/{{ score.date_for_link }}/" style="text-decoration: underline;">{{ score.score|floatformat:2 }}%</a>
                    </td>
                {% elif score.score >= 60 %}
                    <td class="warning-compliance-color">
                        <a class="warning-compliance-color" target="_blank" href="/portal/compliance/get_detailed_compliance/{{ participant.participant_id }}/{{ score.major }}/{{ score.date_for_link }}/" style="text-decoration: underline;">{{ score.score|floatformat:2 }}%</a>
                    </td>
                {% else %}
                    <td class="bad-compliance-color">
                        <a class="bad-compliance-color" target="_blank" href="/portal/compliance/get_detailed_compliance/{{ participant.participant_id }}/{{ score.major }}/{{ score.date_for_link }}/" style="text-decoration: underline;">{{ score.score|floatformat:2 }}%</a>
                    </td>
                {% endif %}
            {% endfor %}

        </tr>
    {% endfor %}
    </tbody>
</table>