{% extends 'gentelella-portal-base.html' %}
{% load static %}

{% block extra_css %}
    <!-- Datatables -->
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}"
          rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="{% static 'bower_components/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css' %}"
          rel="stylesheet">
    <!-- Switchery -->
    <link href="{% static 'bower_components/gentelella/vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">

{% endblock extra_css %}

{% block title %}Compliance{% endblock title %}

{% block content %}

 <!-- page content -->
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3>Daily {{ major_stream.type_name }} Compliance Scores for Participant: {{ participant.participant_id}} </h3>
            </div>
        </div>
        <!--<div class="clearfix"></div>-->

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2></h2>
                        <div class="clearfix" style="display: inline-block;">Email: <a href="mailto:{{ participant.gmail }}" style="text-decoration: underline;">{{ participant.gmail }}</a></div>
                        <div class="clearfix" style="display: inline-block; float: right;">Registration Date: {{ participant.registration_date }}</div>
                    </div>

                    <div class="x_content">
                        <div class="panel-body">
                                        <div class="col-md-3">
                                            <label>Date Range:</label>
                                            <div id="reportrange"
                                                 style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                                <i class="fa fa-calendar"></i>
                                                <span id="daterange"></span>
                                                <i class="fa fa-caret-down pull-right"></i>
                                            </div>
                                        </div>
                        <button type="button" class="btn btn-success" id="update_compliance_table_button" style="position: relative; top: 22px;">Go</button>
                            <input type="hidden" id="filter_start" />
                            <input type="hidden" id="filter_end" />
                                    </div>
                        <input type="hidden" id="major_stream_id" value="{{ major_stream.id }}" />
                        <div class="ln_solid"></div>

                        <div class="table-responsive" id="compliance-table-div">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}
    <!-- Datatables -->
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/pdfmake/build/vfs_fonts.js' %}"></script>

    <script>

        /* DATERANGEPICKER */

        function init_compliancedaterangepicker() {

            if (typeof ($.fn.daterangepicker) === 'undefined') {
                return;
            }
            console.log('init_compliancedaterangepicker');

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            };

            $('#filter_start').val(moment().subtract(30, 'days').format('YYYY-MM-DD'));
            $('#filter_end').val(moment().subtract(1, 'days').format('YYYY-MM-DD'));
            var optionSet1 = {
                startDate: moment().subtract(30, 'days'),
                endDate: moment().subtract(1, 'days'),
                minDate: "01/01/2017",
                maxDate: "01/01/2020",
                showDropdowns: false,
                showWeekNumbers: false,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Last 7 Days': [moment().subtract(7, 'days'), moment().subtract(1, 'days')],
                    'Last 30 Days': [moment().subtract(30, 'days'), moment().subtract(1, 'days')],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'),
                        moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'right',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September',
                        'October', 'November', 'December'],
                    firstDay: 1
                },
                autoApply: true,
                alwaysShowCalendars: true
            };

            $('#reportrange span').html(moment().subtract(30, 'days').format('MMMM D, YYYY') + ' - ' +
                moment().subtract(1, 'days').format('MMMM D, YYYY'));
            $('#reportrange').daterangepicker(optionSet1, cb);
            $('#reportrange').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#reportrange').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to "
                    + picker.endDate.format('MMMM D, YYYY'));
                console.log(typeof picker.startDate.toDate());//format('MMMM D, YYYY')
                $('#filter_start').val(picker.startDate.format('YYYY-MM-DD'));
                $('#filter_end').val(picker.endDate.format('YYYY-MM-DD'));

            });
            $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange').data('daterangepicker').remove();
            });

        }

        function renderComplianceTable(){
                        $('#compliance-table-div').html('<h3 style="width: 100%; text-align: center;">Loading...<br /><i class="fa fa-spinner fa-spin fa-fw"></i></h3>');

            $.ajax({
                url: '{% url "portal:compliance:get_participant_detailed_table" %}',
                data: {
                    start_date: $('#filter_start').val(),
                    end_date: $('#filter_end').val(),
                    participant_id: '{{ participant.participant_id }}',
                    compliance_id: $('#major_stream_id').val()
                },
                dataType: 'html',
                success: function(code){
                    $('#compliance-table-div').html(code);
                    var table = $('#datatable-buttons').DataTable({
                        "pageLength": 50,
                        "order": [[ 0, "desc" ]]
                    });

                    var buttons = new $.fn.dataTable.Buttons(table, {
                        buttons: [
                            'csvHtml5'
                        ]
                    }).container().appendTo($('#buttons'));

                    if ($('#buttons').contents().length > 2) {
                        $('#buttons').contents()[1].remove();
                    }
                },
                error: function(){
                    $('#compliance-table-div').html('An error occurred getting data.');
                }
            })
        }

        $(document).ready(function(){
            init_compliancedaterangepicker();
            renderComplianceTable();

            $('#update_compliance_table_button').click(function(){
                renderComplianceTable();
            })
        });
    </script>

{% endblock %}