<table id="datatable-buttons" class="table table-striped table-bordered staff-compliance-list">
    <thead>
    <tr>
        <th class="sorting">Date</th>
        <th class="sorting"><i class="fa fa-check-square"></i> Survey Compliance</th>
        <th class="sorting"><i class="fa fa-heartbeat"></i> Wearable Compliance</th>
        <th class="sorting"><i class="fa fa-phone-square"></i> Phone Agent Compliance</th>
        <th class="sorting_desc">Overall Compliance</th>
    </tr>
    </thead>

    <tbody>
    {% for compliance in compliance_values %}
        <tr data-id="{{ participant.participant_id }}" data-type="participant-row">
            <td class=" ">{{ compliance.date }}</td>
            <!-- Survey column -->
            {% if compliance.days_survey_compliance.score >= 80 %}
                <td class="good-compliance-color" {% if compliance.days_survey_compliance.override %}
                    title="Override: {{ compliance.days_survey_compliance.override }}%" style="cursor: pointer;"
                    {% endif %}>
                    {{ compliance.days_survey_compliance.score|floatformat:2 }}%
                    {% if compliance.days_survey_compliance.override %}
                    O
                    {% endif %}
                </td>
            {% elif compliance.days_survey_compliance.score >= 60 %}
                <td class="warning-compliance-color"{% if compliance.days_survey_compliance.override %}
                    title="Override: {{ compliance.days_survey_compliance.override }}%" style="cursor: pointer;"
                    {% endif %}>
                    {{ compliance.days_survey_compliance.score|floatformat:2 }}%
                    {% if compliance.days_survey_compliance.override %}
                    O
                    {% endif %}
                </td>
            {% else %}
                <td class="bad-compliance-color"{% if compliance.days_survey_compliance.override %}
                    title="Override: {{ compliance.days_survey_compliance.override }}%" style="cursor: pointer;"
                    {% endif %}>
                    {{ compliance.days_survey_compliance.score|floatformat:2 }}%
                    {% if compliance.days_survey_compliance.override %}
                    O
                    {% endif %}
                </td>
            {% endif %}

            <!-- Wearable column -->
            {% if compliance.days_wearable_compliance.score >= 80 %}
                <td class="good-compliance-color"{% if compliance.days_wearable_compliance.override %}
                    title="Override: {{ compliance.days_wearable_compliance.override }}%" style="cursor: pointer;"
                    {% endif %}>
                    <a class="good-compliance-color" style="text-decoration: underline;" href="/portal/compliance/get_detailed_compliance/{{ participant.participant_id }}/Wearable/{{ compliance.date_for_link }}/" target="_blank">{{ compliance.days_wearable_compliance.score|floatformat:2 }}%</a>
                    {% if compliance.days_wearable_compliance.override %}
                    O
                    {% endif %}
                </td>
            {% elif compliance.days_wearable_compliance.score >= 60 %}
                <td class="warning-compliance-color"{% if compliance.days_wearable_compliance.override %}
                    title="Override: {{ compliance.days_wearable_compliance.override }}%" style="cursor: pointer;"
                    {% endif %}>
                    <a class="good-compliance-color" style="text-decoration: underline;" href="/portal/compliance/get_detailed_compliance/{{ participant.participant_id }}/Wearable/{{ compliance.date_for_link }}/" target="_blank">{{ compliance.days_wearable_compliance.score|floatformat:2 }}%</a>
                    {% if compliance.days_wearable_compliance.override %}
                    O
                    {% endif %}
                </td>
            {% else %}
                <td class="bad-compliance-color"{% if compliance.days_wearable_compliance.override %}
                    title="Override: {{ compliance.days_wearable_compliance.override }}%" style="cursor: pointer;"
                    {% endif %}>
                    <a class="bad-compliance-color" style="text-decoration: underline;" href="/portal/compliance/get_detailed_compliance/{{ participant.participant_id }}/Wearable/{{ compliance.date_for_link }}/" target="_blank">{{ compliance.days_wearable_compliance.score|floatformat:2 }}%</a>
                    {% if compliance.days_wearable_compliance.override %}
                    O
                    {% endif %}
                </td>
            {% endif %}

            <!-- Phone Agent column -->
            {% if compliance.days_phone_agent_compliance.score >= 80 %}
                <td class="good-compliance-color"{% if compliance.days_phone_agent_compliance.override %}
                    title="Override: {{ compliance.days_phone_agent_compliance.override }}%" style="cursor: pointer;"
                    {% endif %}>
                    <a class="good-compliance-color" style="text-decoration: underline;" href="/portal/compliance/get_detailed_compliance/{{ participant.participant_id }}/Phone Agent/{{ compliance.date_for_link }}/" target="_blank">{{ compliance.days_phone_agent_compliance.score|floatformat:2 }}%</a>
                    {% if compliance.days_phone_agent_compliance.override %}
                    O
                    {% endif %}
                </td>
            {% elif compliance.days_phone_agent_compliance.score >= 60 %}
                <td class="warning-compliance-color"{% if compliance.days_phone_agent_compliance.override %}
                    title="Override: {{ compliance.days_phone_agent_compliance.override }}%" style="cursor: pointer;"
                    {% endif %}>
                    <a class="good-compliance-color" style="text-decoration: underline;" href="/portal/compliance/get_detailed_compliance/{{ participant.participant_id }}/Phone Agent/{{ compliance.date_for_link }}/" target="_blank">{{ compliance.days_phone_agent_compliance.score|floatformat:2 }}%</a>
                    {% if compliance.days_phone_agent_compliance.override %}
                    O
                    {% endif %}
                </td>
            {% else %}
                <td class="bad-compliance-color"{% if compliance.days_phone_agent_compliance.override %}
                    title="Override: {{ compliance.days_phone_agent_compliance.override }}%" style="cursor: pointer;"
                    {% endif %}>
                    <a class="bad-compliance-color" style="text-decoration: underline;" href="/portal/compliance/get_detailed_compliance/{{ participant.participant_id }}/Phone Agent/{{ compliance.date_for_link }}/" target="_blank">{{ compliance.days_phone_agent_compliance.score|floatformat:2 }}%</a>
                    {% if compliance.days_phone_agent_compliance.override %}
                    O
                    {% endif %}
                </td>
            {% endif %}

            <!-- Overall column -->
            {% if compliance.days_overall_compliance.score >= 80 %}
                <td class="good-compliance-color">
                    {{ compliance.days_overall_compliance.score|floatformat:2 }}%
                </td>
             {% elif compliance.days_overall_compliance.score >= 60 %}
                <td class="warning-compliance-color">
                    {{ compliance.days_overall_compliance.score|floatformat:2 }}%
                </td>
            {% else %}
                <td class="bad-compliance-color">
                    {{ compliance.days_overall_compliance.score|floatformat:2 }}%
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>