{% extends 'gentelella-portal-base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Create Issue{% endblock title %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left" style="width: 100%;">
                    <h3>Report a New Issue  <small style="font-size: 14px; float: right;"><a style="text-decoration: underline;" href="https://drive.google.com/a/nd.edu/file/d/1tTHlxCoOtgW_K1orN8FrXq899ziE_fzc/view?usp=sharing" target="_blank">Frequenty Asked Questions</a></small></h3>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>New Issue</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form action="" method="post" novalidate>{% csrf_token %}
                                {% if form.errors %}
                                    <div class="well form-error-well">
                                        <strong>Please correct the following errors:</strong>
                                        <br/>
                                        <br/>
                                        {{ form.non_field_errors }}
                                        <ul class="errorlist">
                                            {% for key,value in form.errors.items %}
                                                <li><strong>{{ key }}</strong> {{ value }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                {% crispy form %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
  <div class="modal fade" id="faq_modal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Issues - Frequently Asked Questions / Issue Resolution</h4>
        </div>
        <div class="modal-body">
          <p> Before submitting an issue, we encourage you to check our FAQ document at the <a style="text-decoration: underline;" href="https://drive.google.com/a/nd.edu/file/d/1tTHlxCoOtgW_K1orN8FrXq899ziE_fzc/view?usp=sharing" target="_blank">Google Doc FAQ</a>.<br />
    If you do not find your answer, please submit your issue.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
<script>
    $(document).ready(function(){
       $('#faq_modal').modal();
    });
</script>
{% endblock %}
