{% extends 'gentelella-portal-base.html' %}
{% load static %}

{% block extra_css %}
    <!-- Datatables -->
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block title %}Issues{% endblock title %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
{#        <div class="">#}
            <div class="page-title">
                <div class="title_left">
                    <h3>Issues</h3>
                </div>
            </div>


            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>
                                {% if request.user.is_staff %}
                                    Issues List
                                {% else %}
                                    My Issues
                                {% endif %}
                            </h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <div><p></p></div>
                            <div class="table-responsive">
                                 <table id="issue-table" class="table table-bordered table-hover">
                                    <thead>
                                    <tr class="headings">
                                        <th class="column-title">Issue #</th>
                                        <th class="column-title">Status</th>
                                        <th class="column-title">Category</th>
                                        <th class="column-title">Subject</th>
                                        <th class="column-title">Date Reported</th>
                                        {% if request.user.is_staff %}
                                            <th class="column-title" id="assignedToColumn">Assigned To</th>
                                        {% endif %}
                                        <th class="column-title">Last Updated</th>
                                        <th class="column-title"></th>
                                        <th class="hidden">Participant ID</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for issue in issue_list %}
                                        <tr>
                                            <td class=" ">{{ issue.id }}</td>
                                            <td class=" ">{{ issue.status }}</td>
                                            <td class=" ">{{ issue.category }}</td>
                                            <td class=" ">{{ issue.subject }}</td>
                                            <td class=" " data-order='{{ issue.date_reported|date:"U" }}'>{{ issue.date_reported }}</td>
                                            {% if request.user.is_staff %}
                                                <td class=" ">
                                                    {% if issue.assigned_to %}
                                                        {{ issue.assigned_to }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                            <td class=" " data-order='{{ issue.last_updated|date:"U" }}'>{{ issue.last_updated }}</td>
                                            <td class="center-block">
                                                <a class="btn btn-primary btn-xs"
                                                   href="{% url 'portal:issues:issue_details' pk=issue.id %}">
                                                    Details
                                                </a>
                                                {% if request.user.is_staff %}
                                                    <a class="btn btn-xs btn-warning"
                                                       href="{% url 'portal:issues:admin_issues_update' pk=issue.id %}">
                                                        Update
                                                    </a>
                                                {% endif %}
                                            </td>
                                            <td class="hidden">{{ issue.reported_by_participant }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
{#        </div>#}
    </div>
{% endblock content %}

{% block js %}
    <!-- Datatables -->
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/pdfmake/build/vfs_fonts.js' %}"></script>

        <script type="text/javascript">
        $(document).ready(function () {
            initIssueTable();
        });

        function initIssueTable() {
            /* DATA TABLES  for Issues */

            if (typeof ($.fn.DataTable) === 'undefined') {
                return;
            }
            console.log('init_IssueTable');
            var lastColumnIndex = 7;
            if( $('#assignedToColumn').index()<0){
             lastColumnIndex = 6;
            }

            console.log(lastColumnIndex);
            $('#issue-table').dataTable({
              "aoColumnDefs": [
                  { 'bSortable': false, 'aTargets': [ lastColumnIndex ] }
               ]
            }); // Turn off search box


        }

    </script>

{% endblock js %}