.content-body {
  padding: 10px;
  padding-bottom: 50px;
}


/**
Errors on forms
 */
.form-error-well {
  background-color: #f2dede;
}


/**
Current page marker on sidebar
 */
.nav.side-menu > li.active, .nav.side-menu > li.current-page {
    border-right: 5px solid #E08C26;
}

/**
Tesserae Logo Colors
 */

.tesserae-orange-bkgrd {
  background-color: #E08C26;
  color: #ffffff;
}

.tesserae-orange {
    color: #E08C26
}

.tesserae-blue-bkgrd {
  background-color: #3D7DBF;
  color: #ffffff;
}

.tesserae-blue {
  color: #3D7DBF;
}

.tesserae-green-bkgrd {
    background-color: #2B4F41;
    color: #ffffff;
}

.tesserae-green-bkgrd:hover {
    background-color: #2B4F41;
    color: lightgray;
}
.tesserae-green {
    color: #2B4F41;
}

.tesserae-red-bkgrd {
    background-color: #9E1F15;
    color: #ffffff;
}

.tesserae-red {
    color: #9E1F15;
}

.tesserae-gray-bkgrd {
    background-color: #cccccc;
    color: #ffffff;
}

.tesserae-gray {
    color: #cccccc;
}

.tesserae-dark-text-bkgrd {
    background-color: #333333;
    color: #ffffff;
}

.tesserae-dark-text-color {
    color: #333333;
}

/**
Compliance Styling
 */
.gauge-value {
    font-size: 17px;
    font-weight: bold;
}

.good-compliance-color{
    color: #1ABB9C;
}

.warning-compliance-color{
    color: #d1a829;
}

.bad-compliance-color {
    color: #E74C3C;
}

.compliance-history-hover:hover {
    background-color: #eaeaea;
}


/**
Landing Page Centering
 */
.landing-img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: auto;
}

header.masthead {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: white;
    background-image: url("../img/header.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.masthead .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;
    text-align: center;
}

header.masthead .header-content .header-content-inner h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

header.masthead .header-content .header-content-inner hr {
    margin: 30px auto;
}

header.masthead .header-content .header-content-inner p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
    color: rgba(51, 51, 51, 1);
}

@media (min-width: 768px) {
    header.masthead {
        height: 100%;
        min-height: 600px;
    }

    header.masthead .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header.masthead .header-content .header-content-inner {
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }

    header.masthead .header-content .header-content-inner h1 {
        font-size: 50px;
    }

    header.masthead .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-right: auto;
        margin-left: auto; }
}

/**
Filter for Staff Compliance List
 */
.filter-input {
    width: 100px;
}