{% extends 'gentelella-portal-base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div>

            <div class="clearfix"></div>

            <!-- Compliance row -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>My Compliance
                                <small> {{ current_month }}</small>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div class="row text-center"
                                 style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                                <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
                                    <span class="count_top"><strong>Overall</strong></span>
                                    <div><h3 class="compliance-number"
                                             id="overall-compliance">{{ months_overall_compliance }}%</h3></div>
                                </div>
                                <a href="{% url 'portal:compliance:survey_compliance' %}">
                                    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count compliance-history-hover">
                                        <span class="count_top">
                                            <i class="fa fa-check-square"></i> <u>Surveys</u>
                                        </span>

                                        <div><h3 class="compliance-number"
                                                 id="survey-compliance">{{ months_survey_compliance }}%</h3></div>
                                    </div>
                                </a>
                                <a href="{% url 'portal:compliance:wearable_compliance' %}">
                                    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count compliance-history-hover">
                                        <span class="count_top">
                                            <i class="fa fa-heartbeat"></i> <u>Wearable</u>
                                        </span>

                                        <div><h3 class="compliance-number"
                                                 id="wearable-compliance">{{ months_wearable_compliance }}%</h3></div>
                                    </div>
                                </a>
                                <a href="{% url 'portal:compliance:phone_agent_compliance' %}">
                                    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count compliance-history-hover">
                                    <span class="count_top">
                                        <i class="fa fa-phone-square"></i> <u>Phone Agent</u>
                                    </span>
                                        <div><h3 class="compliance-number"
                                                 id="phone-agent-compliance">{{ months_phone_agent_compliance }}%</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Compliance row -->

            <!-- Issues & Payments row -->
            <div class="row">

                <!-- Issues block -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>My Issues</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <!-- start accordion -->
                            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel">
                                    <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                                       aria-controls="collapseOne">
                                        <h4 class="panel-title">Filter by Issue Status</h4>
                                    </a>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                         aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <!-- Filter form -->
                                            <form data-parsley-validate>
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label>Status:</label>
                                                <div id="checkboxes">
                                                    {% for status in status_list %}
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" id="issue_status_checkbox"
                                                                       name="{{ status.status }}" class="flat">
                                                                {{ status.status }}
                                                            </label>
                                                        </div>
                                                    {% endfor %}</div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                                                        <button id="filter_status_btn" class="btn btn-success btn-sm">
                                                            Filter
                                                        </button>
                                                    </div>
                                                </div>
                                            </form> <!-- end Filter form -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of accordion -->
                            <br/>
                            <div id="reported_issue_list"></div>
                        </div>
                    </div>
                </div>
                <!-- End Issues -->

                <!-- Payments block -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>My Payments</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {% for payment in my_payments %}
                                <article class="media event">
                                    <a class="pull-left date">
                                        <p class="month">{{ payment.payment_date|date:"M" }}</p>
                                        <p class="day">{{ payment.payment_date.day }}</p>
                                    </a>
                                    <div class="media-body">
                                        <div><strong>Payment Notice</strong></div>
                                        <p>${{ payment.payment_amount }} was added to your card.</p>
                                    </div>
                                </article>
                            {% endfor %}
                            <div class="ln_solid"></div>
                            <a class="btn btn-primary btn-large btn-block"
                               href="{% url 'portal:payments:payment_history' %}">Payment History</a>
                        </div>
                    </div>
                </div>
                <!-- End Payments -->

                <div class="clearfix"></div>

            </div><!-- end row -->

        </div>
        <br/><br/>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".compliance-number").each(function () {
                var compliance_percent = $(this).text();
                var compliance_number = parseInt(compliance_percent);

                if (compliance_number >= 80) {
                    $(this).addClass("good-compliance-color")
                } else if (compliance_number >= 60) {
                    $(this).addClass("warning-compliance-color")
                } else {
                    $(this).addClass("bad-compliance-color")
                }
            });

            // Issues Filter by Status
            $.each($("input[id='issue_status_checkbox']"), function () {
                $(this).prop('checked', true);
            });

            var selected = [];
            $.each($("input[id='issue_status_checkbox']"), function () {
                if ($(this).is(':checked')) {
                    selected.push($(this).attr('name'));
                }
            });
            getIssues(selected);

            $("#filter_status_btn").click(function (e) {
                e.preventDefault();
                var selected = [];
                $.each($("input[id='issue_status_checkbox']"), function () {
                    if ($(this).is(':checked')) {
                        selected.push($(this).attr('name'));
                    }
                });
                getIssues(selected);
            });
        });



        function getIssues(selected_issue_statuses) {
            console.log("Filtering issues by status...");
            console.log(selected_issue_statuses);

            $.ajax({
                type: "GET",
                url: "/portal/dashboard/filter-issues/",
                data: {
                    selected_issue_statuses: selected_issue_statuses
                },
                dataType: "html",
                success: function (result) {
                    console.log("SUCCESS!");
                    $("#reported_issue_list").html('').append(result);

                },
                error: function (result) {
                    console.log("ERROR:", result)
                }
            });
        }
    </script>
{% endblock %}