{% extends 'gentelella-portal-base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block top_js %}
    {#    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>#}
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock top_js %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        {#        <div>#}

        <div class="clearfix"></div>

        <!-- Unassigned Issues block -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Unassigned Issues</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- start accordion -->
                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel">
                                <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse"
                                   data-parent="#accordion" href="#unassignedCollapse" aria-expanded="true"
                                   aria-controls="unassignedCollapse">
                                    <h4 class="panel-title">Filter by Issue Status</h4>
                                </a>
                                <div id="unassignedCollapse" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <!-- Filter form -->
                                        <form data-parsley-validate>
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label>Status:</label>
                                                <div id="checkboxes">
                                                    {% for status in status_list %}
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"
                                                                       id="unassigned_issue_status_checkbox"
                                                                       name="{{ status.status }}" class="flat">
                                                                {{ status.status }}
                                                            </label>
                                                        </div>
                                                    {% endfor %}</div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                                    <button id="unassigned_filter_status_btn" class="btn btn-success btn-sm">
                                                        Filter
                                                    </button>
                                                </div>
                                            </div>
                                        </form> <!-- end Filter form -->
                                    </div>
                                </div>
                            </div>
                        </div><!-- end of accordion -->
                     <br/>
                            <div id="unassigned_issues_list"></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Unassigned Issues -->

        <!-- Assigned Issues block -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>My Assigned Issues</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- start accordion -->
                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel">
                                <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                                   aria-controls="collapseOne">
                                    <h4 class="panel-title">Filter by Issue Status</h4>
                                </a>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <!-- Filter form -->
                                        <form data-parsley-validate>
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label>Status:</label>
                                                <div id="checkboxes">
                                                    {% for status in status_list %}
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" id="issue_status_checkbox"
                                                                       name="{{ status.status }}" class="flat">
                                                                {{ status.status }}
                                                            </label>
                                                        </div>
                                                    {% endfor %}</div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                                    <button id="filter_status_btn" class="btn btn-success btn-sm">
                                                        Filter
                                                    </button>
                                                </div>
                                            </div>
                                        </form> <!-- end Filter form -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of accordion -->
 <br/>
                            <div id="assigned_issue_list"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Assigned Issues -->

        <!-- Average Compliance row -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Average Compliance
                            <small>Last 30 days</small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="row"
                             style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row" style="text-align: center;">

                                    <div id="average_compliance_chart" class="col-md-12 col-sm-12 col-xs-12">
                                        <h3>Loading...</h3><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>

                                    </div>
                                </div>
                                <br/>
                                <div class="row" style="text-align: center;">
                                    <a href="#" class="btn tesserae-green-bkgrd text-center"
                                       style="width: 200px;" id="previousThirtyAvgStreamBtn">View Previous 30 days</a>
                                    <a href="#" class="btn tesserae-green-bkgrd text-center"
                                       style="width: 200px;" id="nextThirtyAvgStreamBtn">View Next 30 days</a>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <!-- end row -->

        <!-- Compliance row -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Overall Compliance
                            <small>Last 30 days</small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="row"
                             style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row" style="text-align: center;">

                                    <div id="participant_compliant_chart" class="col-md-10 col-sm-10 col-xs-10">
                                        <h3>Loading...</h3><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2 text-center">
                                        <h3>Current Compliance </h3>
                                        <div class="ln_solid"></div>
                                        <br/>
                                        <h3><span id="yesterdays_compliant_participants"></span> of
                                            <span id="yesterdays_total_participants"></span> participants</h3>
                                        <br/>
                                        <h3><span><span id="yesterdays_percent_compliant"></span>%</span> of participants are
                                            compliant</h3>
                                        <br/><br/>
                                        <a href="{% url 'portal:compliance:staff_compliance_table' %}"
                                           class="btn btn-primary">View Compliance Data</a>
                                    </div>
                                </div>

                                <br/>
                                <div class="row" style="text-align: center;">
                                    <a href="#" class="btn tesserae-green-bkgrd text-center"
                                       style="width: 200px;" id="previousThirtyOverallComplianceBtn">
                                        View Previous 30 days</a>
                                    <a href="#" class="btn tesserae-green-bkgrd text-center"
                                       style="width: 200px;" id="nextThirtyOverallComplianceBtn">View Next 30 days</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <!-- end row -->

        <!-- Compliance by stream row -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Stream Compliance
                            <small>Last 30 days</small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="row"
                             style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row" style="text-align: center;">

                                    <div id="compliant_participants_by_stream_chart"
                                         class="col-md-12 col-sm-12 col-xs-12">
                                        <h3>Loading...</h3><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                    </div>
                                </div>
                                <br/>
                                <div class="row" style="text-align: center;">
                                    <a href="#" class="btn tesserae-green-bkgrd text-center"
                                       style="width: 200px;" id="previousThirtyStreamComplianceBtn">
                                        View Previous 30 days</a>
                                    <a href="#" class="btn tesserae-green-bkgrd text-center"
                                       style="width: 200px;" id="nextThirtyStreamComplianceBtn">View Next 30 days</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>

    </div>
    <!-- end row -->

    <br/><br/>
{% endblock content %}

{% block js %}
    <script type="text/javascript">

        // Average compliance chart date range
        var avg_compliance_chart_date_start = null; //"{{ date_start }}";
        var avg_compliance_chart_date_end = null; //"{{ date_end }}";

        // Overall compliance chart date range
        var overall_compliance_chart_date_start = null; //"{{ date_start }}";
        var overall_compliance_chart_date_end = null;  //"{{ date_end }}";

        // Stream compliance chart date range
        var stream_compliance_chart_date_start = null; //"{{ date_start }}";
        var stream_compliance_chart_date_end = null; //"{{ date_end }}";

        // Next 30 days buttons
        var avg_stream_compliance_next_disabled = true;
        var overall_stream_compliance_next_disabled = true;
        var stream_compliance_next_disabled = true;


        $(document).ready(function () {
            // Average Stream Compliance Chart Button Clicks
            $("#previousThirtyAvgStreamBtn").click(function (e) {
                e.preventDefault();
                $('#average_compliance_chart').html('<h3>Loading...</h3><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>');
                renderAvgStreamComplianceChart("previous", avg_compliance_chart_date_start, avg_compliance_chart_date_end);
            });

            $("#nextThirtyAvgStreamBtn").addClass("disabled");

            $("#nextThirtyAvgStreamBtn").click(function (e) {
                e.preventDefault();

                $('#average_compliance_chart').html('<h3>Loading...</h3><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>');
                renderAvgStreamComplianceChart("next", avg_compliance_chart_date_start, avg_compliance_chart_date_end);
            });


            // Overall Compliance Chart Button Clicks
            $("#previousThirtyOverallComplianceBtn").click(function (e) {
                e.preventDefault();

                $('#participant_compliant_chart').html('<h3>Loading...</h3><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>');
                renderOverallComplianceChart("previous", overall_compliance_chart_date_start, overall_compliance_chart_date_end);
            });

            $("#nextThirtyOverallComplianceBtn").addClass("disabled");

            $("#nextThirtyOverallComplianceBtn").click(function (e) {
                e.preventDefault();
                $('#participant_compliant_chart').html('<h3>Loading...</h3><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>');
                renderOverallComplianceChart("next", overall_compliance_chart_date_start, overall_compliance_chart_date_end);
            });


            // Stream Compliance Chart Button Clicks
            $("#previousThirtyStreamComplianceBtn").click(function (e) {
                e.preventDefault();
                $('#compliant_participants_by_stream_chart').html('<h3>Loading...</h3><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>');
                renderStreamComplianceChart("previous", stream_compliance_chart_date_start, stream_compliance_chart_date_end);
            });

            $("#nextThirtyStreamComplianceBtn").addClass("disabled");

            $("#nextThirtyStreamComplianceBtn").click(function (e) {
                e.preventDefault();
                $('#compliant_participants_by_stream_chart').html('<h3>Loading...</h3><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>');
                renderStreamComplianceChart("next", stream_compliance_chart_date_start, stream_compliance_chart_date_end);
            });


            // Render the charts with the most recent 30 days data
            $.ajax({
                url: '/portal/get-average-compliance',
                dataType: 'json',
                success: function(data){
                    avg_compliance_chart_date_start = data.date_start;
                    avg_compliance_chart_date_end = data.date_end;
                    drawAvgStreamComplianceChart(data.survey_average_list, data.wearable_average_list, data.phoneagent_average_list, data.overall_average_list);

                },
                error: function(){
                    //alert("Error getting average compliance data");
                    $('#average_compliance_chart').html('Error getting data.');
                }
            });

            $.ajax({
                url: '/portal/get-overall-compliance',
                dataType: 'json',
                success: function(data){
                    overall_compliance_chart_date_end = data.date_end;
                    overall_compliance_chart_date_start = data.date_start;
                    drawOverallComplianceChart(data.total_participant_count, data.compliant_participant_count, data.yesterdays_compliant_participants, data.yesterdays_total_participants, data.yesterdays_percent_compliant);

                },
                error: function(){
                    //alert("Error getting overall compliance data");
                    $('#participant_compliant_chart').html('Error getting data.');
                }
            });

            $.ajax({
                url: '/portal/get-stream-compliance',
                dataType: 'json',
                success: function(data){
                    stream_compliance_chart_date_end = data.date_end;
                    stream_compliance_chart_date_start = data.date_start;
                    drawStreamComplianceChart(data.compliant_survey_count_list, data.compliant_wearable_count_list, data.compliant_phone_agent_count_list);

                },
                error: function(){
                    //alert("Error getting stream compliance data");
                    $('#compliant_participants_by_stream_chart').html('Error getting data.');
                }
            });

            //drawStreamComplianceChart({{ compliant_survey_count_list }}, {{ compliant_wearable_count_list }}, {{ compliant_phone_agent_count_list }});


            // Assigned Issues Filter by Status
            $.each($("input[id='issue_status_checkbox']"), function () {
                // console.log(this);
                if($(this).attr('name') != 'Closed') {
                    $(this).prop('checked', true);
                }
                else{
                    $(this).prop('checked', false);
                }
            });

            var selected = [];
            $.each($("input[id='issue_status_checkbox']"), function () {
                if ($(this).is(':checked')) {
                    selected.push($(this).attr('name'));
                }
            });
            getIssues(selected);

            $("#filter_status_btn").click(function (e) {
                e.preventDefault();
                var selected = [];
                $.each($("input[id='issue_status_checkbox']"), function () {
                    if ($(this).is(':checked')) {
                        selected.push($(this).attr('name'));
                    }
                });
                getIssues(selected);
            });


            // UnAssigned Issues Filter by Status
            $.each($("input[id='unassigned_issue_status_checkbox']"), function () {
                if($(this).attr('name') != 'Closed') {
                    $(this).prop('checked', true);
                }
                else{
                    $(this).prop('checked', false);
                }
            });

            var selected = [];
            $.each($("input[id='unassigned_issue_status_checkbox']"), function () {
                if ($(this).is(':checked')) {
                    selected.push($(this).attr('name'));
                }
            });
            getUnassignedIssues(selected);

            $("#unassigned_filter_status_btn").click(function (e) {
                e.preventDefault();
                var selected = [];
                $.each($("input[id='unassigned_issue_status_checkbox']"), function () {
                    if ($(this).is(':checked')) {
                        selected.push($(this).attr('name'));
                    }
                });
                getUnassignedIssues(selected);
            });
        });

        // Average Stream Compliance Chart functions
        function renderAvgStreamComplianceChart(direction, start_date, end_date) {
            console.log("Getting new dates.....");
            console.log(direction);
            console.log(start_date);
            console.log(end_date);


            $.ajax({
                type: "GET",
                url: "/portal/staff-dashboard/avg-stream-compliance-chart",
                data: {
                    start_date: start_date,
                    end_date: end_date,
                    direction: direction
                },
                dataType: "json",
                success: function (result) {

                    avg_compliance_chart_date_start = result.date_start;
                    avg_compliance_chart_date_end = result.date_end;
                    avg_stream_compliance_next_disabled = result.next_disabled;

                    if (avg_stream_compliance_next_disabled == true) {
                        $("#nextThirtyAvgStreamBtn").addClass('disabled');
                    } else {
                        $("#nextThirtyAvgStreamBtn").removeClass('disabled');
                    }
                    console.log(result);
                    drawAvgStreamComplianceChart(result['survey_average_list'], result['wearable_average_list'],
                        result['phoneagent_average_list'], result['overall_average_list']);

                },
                error: function (result) {
                    console.log("ERROR:", result)
                }
            });
        }

        function drawAvgStreamComplianceChart(survey, wearable, phone, overall) {
            var average_compliance_chart = Highcharts.chart('average_compliance_chart', {
                title: {
                    text: 'Average Compliance by Stream'
                },

                subtitle: {
                    text: 'Last 30 Days'
                },
                xAxis: {
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: 'Compliance'
                    },
                    tickInterval: 10,
                    max: 100,
                    min: 0
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },
                tooltip: {
                    shared: true,
                    crosshairs: true
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: false
                        }
                    }
                },
                series: [{
                    name: 'Survey',
                    data: survey,
                    color: '#3D7DBF',
                    dataLabels: false
                },
                    {
                        name: 'Wearable',
                        data: wearable,
                        color: '#E08C26',
                        dataLabels: false
                    },
                    {
                        name: 'Phone Agent',
                        data: phone,
                        color: '#AF473F',
                        dataLabels: false
                    },
                    {
                        name: 'Overall',
                        data: overall,
                        color: '#1ABB9C',
                        dataLabels: false
                    }
                ],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center'

                            }
                        }
                    }]
                }
            });
        }


        // Overall Compliance Chart functions
        function renderOverallComplianceChart(direction, start_date, end_date) {
            console.log("Rendering Overall Compliance Chart.....");
            console.log(direction);
            console.log(start_date);
            console.log(end_date);


            $.ajax({
                type: "GET",
                url: "/portal/staff-dashboard/overall-compliance-chart",
                data: {
                    start_date: start_date,
                    end_date: end_date,
                    direction: direction
                },
                dataType: "json",
                success: function (result) {

                    overall_compliance_chart_date_start = result.date_start;
                    overall_compliance_chart_date_end = result.date_end;
                    overall_stream_compliance_next_disabled = result.next_disabled;

                    if (overall_stream_compliance_next_disabled == true) {
                        $("#nextThirtyOverallComplianceBtn").addClass('disabled');
                    } else {
                        $("#nextThirtyOverallComplianceBtn").removeClass('disabled');
                    }
                    console.log(result);
                    drawOverallComplianceChart(result['total_participant_count'], result['compliant_participant_count']);

                },
                error: function (result) {
                    console.log("ERROR:", result)
                }
            });
        }

        function drawOverallComplianceChart(total_part_count, compliant_part_count, ycp, ytp, ypc) {
            $('#yesterdays_compliant_participants').html(ycp);
                $('#yesterdays_total_participants').html(ytp);
                $('#yesterdays_percent_compliant').html(ypc);
            // Total Number of Participants vs Total Number of Compliant Participants
            var participant_compliant_chart = Highcharts.chart('participant_compliant_chart', {
                title: {
                    text: 'Number of Compliant Participants vs Total Participants (Overall)'
                },

                subtitle: {
                    text: 'Last 30 Days'
                },
                xAxis: {
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: 'Number of Participants'
                    },
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },
                tooltip: {
                    shared: true,
                    crosshairs: true
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: false
                        }
                    }
                },
                series: [{
                    name: 'Total Participants',
                    data: total_part_count,
                    color: '#3D7DBF',
                    dataLabels: false
                },
                    {
                        name: 'Compliant Participants',
                        data: compliant_part_count,
                        color: '#1ABB9C',
                        dataLabels: false
                    }
                ],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center'

                            }
                        }
                    }]
                }
            });
        }


        // Stream Compliance Chart functions
        function renderStreamComplianceChart(direction, start_date, end_date) {
            console.log("Rendering Stream Compliance Chart.....");
            console.log(direction);
            console.log(start_date);
            console.log(end_date);


            $.ajax({
                type: "GET",
                url: "/portal/staff-dashboard/stream-compliance-chart",
                data: {
                    start_date: start_date,
                    end_date: end_date,
                    direction: direction
                },
                dataType: "json",
                success: function (result) {

                    stream_compliance_chart_date_start = result.date_start;
                    stream_compliance_chart_date_end = result.date_end;
                    stream_compliance_next_disabled = result.next_disabled;

                    if (stream_compliance_next_disabled == true) {
                        $("#nextThirtyStreamComplianceBtn").addClass('disabled');
                    } else {
                        $("#nextThirtyStreamComplianceBtn").removeClass('disabled');
                    }
                    console.log(result);
                    drawStreamComplianceChart(result['compliant_survey_count_list'],
                        result['compliant_wearable_count_list'], result['compliant_phone_agent_count_list']);

                },
                error: function (result) {
                    console.log("ERROR:", result)
                }
            });
        }

        function drawStreamComplianceChart(survey_count, wearable_count, phone_agent_count) {
            var compliant_participants_by_stream_chart = Highcharts.chart('compliant_participants_by_stream_chart', {
                title: {
                    text: 'Number of Compliant Participants by Stream'
                },

                subtitle: {
                    text: 'Last 30 Days'
                },
                xAxis: {
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: 'Number of Participants'
                    },
                    minTickInterval: 1
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },
                tooltip: {
                    shared: true,
                    crosshairs: true
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: false
                        }
                    }
                },
                series: [{
                    name: 'Survey',
                    data: survey_count,
                    color: '#3D7DBF',
                    dataLabels: false
                },
                    {
                        name: 'Wearable',
                        data: wearable_count,
                        color: '#E08C26',
                        dataLabels: false
                    },
                    {
                        name: 'Phone Agent',
                        data: phone_agent_count,
                        color: '#AF473F',
                        dataLabels: false
                    }
                ],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center'

                            }
                        }
                    }]
                }
            });
        }


        // Filter assigned issues
        function getIssues(selected_issue_statuses) {
            console.log("Filtering issues by status...");
            console.log(selected_issue_statuses);

            $.ajax({
                type: "GET",
                url: "/portal/staff-dashboard/filter-issues/",
                data: {
                    selected_issue_statuses: selected_issue_statuses
                },
                dataType: "html",
                success: function (result) {
                    console.log("SUCCESS!");
                    $("#assigned_issue_list").html('').append(result);

                },
                error: function (result) {
                    console.log("ERROR:", result)
                }
            });
        }

        // Filter assigned issues
        function getUnassignedIssues(selected_issue_statuses) {
            console.log("Filtering unassigned issues by status...");
            console.log(selected_issue_statuses);

            $.ajax({
                type: "GET",
                url: "/portal/staff-dashboard/filter-unassigned-issues/",
                data: {
                    selected_issue_statuses: selected_issue_statuses
                },
                dataType: "html",
                success: function (result) {
                    console.log("SUCCESS!");
                    $("#unassigned_issues_list").html('').append(result);

                },
                error: function (result) {
                    console.log("ERROR:", result)
                }
            });
        }

    </script>
{% endblock js %}