{% extends 'gentelella-portal-base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Add Participant{% endblock title %}

{% block content %}

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Register a New Participant</h3>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>New Participant</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form action="" method="post" novalidate>{% csrf_token %}
                                {% if form.errors %}
                                    <div class="alert alert-block alert-danger">
                                        <strong>Please correct the following errors:</strong>
                                        <br/>
                                        <br/>
                                        <ul class="errorlist">
                                            {% for key,value in form.errors.items %}
                                                {% if '__' not in key %}
                                                    <li><strong>{{ key }}</strong>:
                                                        <ul>
                                                            <li>
                                                                {{ value|striptags }}</li>
                                                        </ul>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                {% crispy form %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}