{% extends 'gentelella-portal-base.html' %}
{% load staticfiles %}

{% block title %}Participant Registered{% endblock title %}

{% block content %}

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h1>Success!</h1>

                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4>Participant has been registered.</h4>
                    <br/><br/>
                    <a href="{% url 'portal:participant:register_participant' %}"
                       class="btn btn-primary">
                        Register another Participant</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}