{% extends 'gentelella-portal-base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %}Participant Reports{% endblock title %}

{% block content %}

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Reports</h3>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>All Participants Report</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <a class="btn btn-info" href="{% url 'portal:reports:download_all_csv' %}" target="_blank">Download Participant Report (CSV)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="">

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Participant Daily Compliance Report</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <a class="btn btn-info" href="{% url 'portal:reports:download_daily' %}" target="_blank">Download Participant Daily Breakdown Report (ZIP)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="">

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Participant Break-Down Report</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <a class="btn btn-info" href="{% url 'portal:reports:download_hourly' %}" target="_blank">Download Participant Half-Hour Breakdown Report (ZIP)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="">

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Issues Report</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <a class="btn btn-info" href="{% url 'portal:reports:download_issues' %}" target="_blank">Download Issues Report (CSV)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="">

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Download All Issues - JSON</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <a class="btn btn-info" href="{% url 'portal:reports:get_all_issues' %}" target="_blank">Download All Issues (JSON)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div class="">

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Overrides Download</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <a class="btn btn-info" href="{% url 'portal:reports:download_overrides' %}" target="_blank">Download All Overrides (CSV)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% if "Can View Mappings" in groups %}
        <div class="">

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Portal Email to Snapshot ID Mapping</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <a class="btn btn-info" href="https://tesserae-poll.crc.nd.edu/get_snapshot_mapping" target="_blank">Download Portal Email to Snapshot ID Mapping (CSV)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock content %}

{% block js %}
<script>
    $(document).ready(function(){
       $('#download_all_button').click(function(){

       });
    });
</script>

{% endblock %}