<!------------------------------------
--  Theme Installation Instructions --
--
-- $> cd integration/static/
-- $> bower install gentelella --save
-- $> bower install highcharts --save
-- : Open "bower_components/gentelella/build/js/custom.js"
-- : Comment out lines 1843 -> 1863 (try searching for "new PNotify")
-- :    ..these are what cause the "PNotify" example to show up on all pages (annoying!!)
--
-- DEPLOYMENT:
-- $> python manage.py collectstatic
--
-------------------------------------->


<!-- For a full example of this template, check out the author's example page: https://colorlib.com/polygon/gentelella/index.html -->

<!-- Theme downloaded via bower install at: https://github.com/puikinsh/gentelella -->

{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tesserae | {% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'bower_components/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css' %}"
          rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'bower_components/gentelella/vendors/font-awesome/css/font-awesome.min.css' %}"
          rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'bower_components/gentelella/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static 'bower_components/gentelella/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="{% static 'bower_components/gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}"
          rel="stylesheet">
    <!-- JQVMap -->
    <link href="{% static 'bower_components/gentelella/vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="{% static 'bower_components/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css' %}"
          rel="stylesheet">

    <!-- PNotify -->
    <link href="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.buttons.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.nonblock.css' %}" rel="stylesheet">

    <!-- Switchery -->
    <link href="{% static 'bower_components/gentelella/vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'bower_components/gentelella/build/css/custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/tesserae_styles.css' %}" rel="stylesheet">

    {% block head %}{% endblock %}
    {% block top_js %} {% endblock %}
    {% block extra_css %} {% endblock %}
</head>

<body class="nav-md footer_fixed">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0; height:200px">
                    <div class="navbar-brand">
                        <a href="/" class="site_title" style="height:200px;">
                            <img class="img-responsive center"
                                 src="{% static 'images/Tesserae_visual-identity/Tesserae-logo_square/tesserae-logo_square_medium_white-text.png' %}"
                                 alt="Tesserae"
                                 style="display: inline-block">
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="clearfix"></div>

{#                <!-- menu profile quick info -->#}
{#                {% if request.user.is_authenticated and not request.user.is_staff %}#}
{#                    <div class="profile clearfix">#}
{##}
{#                        <div class="profile_info">#}
{#                            <span>Welcome,</span>#}
{#                            <h2>{% if request.user.name %}{{ request.user.name }}{% else %}#}
{#                                {{ request.user.username }}{% endif %}</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endif %}#}
{#                <!-- /menu profile quick info -->#}

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <li>
                                <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                            </li>

                            {% if request.user.is_staff %}
                                <li><a href="https://tesserae-poll.crc.nd.edu/sheets/select_sheet/" target="_blank">
                                    <i class="fa fa-user-plus"></i> Register Participant</a></li>
                            {% endif %}

                            {% if request.user.is_staff and request.user.is_superuser %}
                                <li><a href="{% url 'portal:staff:new_staff' %}">
                                    <i class="fa fa-user-plus"></i> Add Staff Member</a></li>
                            {% endif %}

                            {% if request.user.is_staff %}
                                <li><a><i class="fa fa-percent"></i> Compliance <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="{% url 'portal:compliance:staff_compliance_table' %}">View
                                            Compliance Data</a></li>
                                        <li><a href="{% url 'portal:compliance:get_all_detailed_compliance_page' %}">View Detailed Compliance Data</a></li>
                                        <li><a href="{% url 'portal:compliance:upload_overrides' %}">Upload
                                        Overrides</a></li>
                                    </ul>
                                </li>
                            {% endif %}

                            <li><a><i class="fa fa-bug"></i> Issues <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    {% if not request.user.is_staff %}
                                        <li><a href="{% url 'portal:issues:new_issue' %}">Report an Issue</a></li>
                                        <li><a href="{% url 'portal:issues:my_issues_list' %}">My Issues</a></li>
                                    {% endif %}
                                    {% if request.user.is_staff %}
                                        <li><a href="{% url 'portal:issues:admin_assigned_issues' %}">View Issues
                                            Assigned to Me</a></li>
                                        <li><a href="{% url 'portal:issues:all_issues_list' %}">View All Issues</a></li>
                                    {% endif %}
                                </ul>
                            </li>

                            {% if not request.user.is_staff %}
                                <li>
                                <a href="{% url 'portal:payments:payment_history' %}"><i class="fa fa-credit-card"></i>View
                                    Payment History</a></li>
                            {% endif %}

                            {% if request.user.is_staff %}
                                <li><a><i class="fa fa-credit-card"></i> Payments <span
                                        class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="{% url 'portal:payments:upload_payment' %}">Upload Payments</a></li>
                                        <li><a href="{% url 'portal:payments:all_payment_history' %}">View Payment
                                            History</a></li>
                                    </ul>
                                </li>
                                <li><a href="https://tesserae-poll.crc.nd.edu/snapshots/"><i class="fa fa-database"></i> Snapshots</a></li>
                                <li><a href="{% url 'portal:reports:reports_home' %}"><i class="fa fa-table"></i> Reports</a></li>
                            {% endif %}

                            <li><a href="https://tesserae-wearable.crc.nd.edu/login?email={{ request.user.email }}">
                                <i class="fa fa-heartbeat"></i> Garmin Connect</a></li>
                            <li><a href="http://tesserae-social.crc.nd.edu/?email={{ request.user.email }}" target="_blank">
                                <i class="fa fa-users"></i> Social Accounts </a></li>

                        </ul>
                        {% if not request.user.is_staff %}
                        <h3 style="margin-top: 20px;">Actions</h3>
                        <ul class="nav side-menu">
                                                            <li>
                                    <a href="#" class="refresh_all_scores" data-target="all"><i class="fa fa-percent"></i> Refresh Compliance Scores</a>
                                </li>
                        </ul>
                        {% endif %}
                    </div>

                </div>
                <!-- /sidebar menu -->

            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    {% if request.user.is_authenticated %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="{% url 'account_logout' %}"> Log Out</a>
                            </li>

                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="{% provider_login_url "google" action="reauthenticate" %}"> Google Log In</a>
                                {#                                <a href="/accounts/google/login/?action=reauthenticate"> Google Log In</a>#}
                            </li>

                        </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        {% block content %}

        {% endblock %}
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                <i class="fa fa-copyright"></i> 2017 University of Notre Dame
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="{% static 'bower_components/gentelella/vendors/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'bower_components/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'bower_components/gentelella/vendors/fastclick/lib/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'bower_components/gentelella/vendors/nprogress/nprogress.js' %}"></script>
<!-- Chart.js -->
<script src="{% static 'bower_components/gentelella/vendors/Chart.js/dist/Chart.min.js' %}"></script>
<!-- gauge.js -->
<script src="{% static 'bower_components/gentelella/vendors/gauge.js/dist/gauge.min.js' %}"></script>
<!-- bootstrap-progressbar -->
<script src="{% static 'bower_components/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'bower_components/gentelella/vendors/iCheck/icheck.min.js' %}"></script>
<!-- Skycons -->
<script src="{% static 'bower_components/gentelella/vendors/skycons/skycons.js' %}"></script>
<!-- Flot -->
<script src="{% static 'bower_components/gentelella/vendors/Flot/jquery.flot.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/Flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/Flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/Flot/jquery.flot.stack.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/Flot/jquery.flot.resize.js' %}"></script>
<!-- Flot plugins -->
<script src="{% static 'bower_components/gentelella/vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/flot.curvedlines/curvedLines.js' %}"></script>
<!-- DateJS -->
<script src="{% static 'bower_components/gentelella/vendors/DateJS/build/date.js' %}"></script>
<!-- JQVMap -->
<script src="{% static 'bower_components/gentelella/vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static 'bower_components/gentelella/vendors/moment/min/moment.min.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

<!-- PNotify -->
<script src="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.buttons.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.nonblock.js' %}"></script>

<!-- Switchery -->
<script src="{% static 'bower_components/gentelella/vendors/switchery/dist/switchery.min.js' %}"></script>

<!-- Custom Theme Scripts -->
<script src="{% static 'bower_components/gentelella/build/js/custom.js' %}"></script>
<script>
        $(document).ready(function(){
            // add click functionality for the compliance refresh link
            $('.refresh_all_scores').click(function(){
                var type = $(this).attr('data-target');
                $.ajax({
                    url: "{% url 'portal:compliance:request_compliance_refresh' %}",
                    data: {type: type},
                    dataType: 'json',
                    success: function(return_message){
                        if(return_message.success == true){
                            if(confirm("Request sent.  This process may take up to 10 seconds to complete.  Please wait at least 10 seconds, then click ok to refresh the page.")){
                                window.location.reload();
                            }
                        }
                        else{
                            alert(return_message.error);
                        }
                    },
                    error: function(){
                        alert("There was an error in sending your request.  Please submit an issue about this error.");
                    }
                });
            });
        });
    </script>

{% block js %}{% endblock %}

</body>
</html>
