{% extends 'landing-page-base.html' %}
{% load static %}
{% load socialaccount %}


{% block landing-page-content %}

    <header class="masthead">
        <div class="header-content">
            <div class="header-content-inner ">
                <h1 id="homeHeading"><img class="img-responsive center landing-img"
                                          src="{% static 'images/Tesserae_visual-identity/Tesserae-logo_long/tesserae-logo_long_small.png' %}"
                                          alt="Tesserae Portal"></h1>
                <hr>
                <p>Welcome to Project Tesserae, a research project at the University of Notre Dame.</p>
                <a class="btn btn-primary btn-lg" href="{% provider_login_url "google" action="reauthenticate" %}">
                    Log in with Google
                </a>
            </div>
        </div>
    </header>

{% endblock landing-page-content %}