<!------------------------------------
--  Theme Installation Instructions --
--
-- $> cd integration/static/
-- $> bower install gentelella --save
-- $> bower install highcharts --save
-- : Open "bower_components/gentelella/build/js/custom.js"
-- : Comment out lines 1843 -> 1863 (try searching for "new PNotify")
-- :    ..these are what cause the "PNotify" example to show up on all pages (annoying!!)
--
-- DEPLOYMENT:
-- $> python manage.py collectstatic
--
-------------------------------------->


<!-- For a full example of this template, check out the author's example page: https://colorlib.com/polygon/gentelella/index.html -->

<!-- Theme downloaded via bower install at: https://github.com/puikinsh/gentelella -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tesserae </title>

    <!-- Bootstrap -->
    <link href="{% static 'bower_components/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css' %}"
          rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'bower_components/gentelella/vendors/font-awesome/css/font-awesome.min.css' %}"
          rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'bower_components/gentelella/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static 'bower_components/gentelella/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="{% static 'bower_components/gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}"
          rel="stylesheet">
    <!-- JQVMap -->
    <link href="{% static 'bower_components/gentelella/vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="{% static 'bower_components/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css' %}"
          rel="stylesheet">

    <!-- PNotify -->
    <link href="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.buttons.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.nonblock.css' %}" rel="stylesheet">

    <!-- Switchery -->
    <link href="{% static 'bower_components/gentelella/vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'bower_components/gentelella/build/css/custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/tesserae_styles.css' %}" rel="stylesheet">

    {% block top_js %} {% endblock %}
</head>

  <body class="login footer_fixed">

    {% block landing-page-content %}
    {% endblock landing-page-content %}


    <!-- footer content -->
    <footer>
        <div class="pull-right">
            IARPA MOSAIC - <a href="https://www.iarpa.gov/index.php/research-programs/mosaic">IARPA-BAA-16-10</a>
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->


<!-- jQuery -->
<script src="{% static 'bower_components/gentelella/vendors/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'bower_components/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'bower_components/gentelella/vendors/fastclick/lib/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'bower_components/gentelella/vendors/nprogress/nprogress.js' %}"></script>
<!-- Chart.js -->
<script src="{% static 'bower_components/gentelella/vendors/Chart.js/dist/Chart.min.js' %}"></script>
<!-- gauge.js -->
<script src="{% static 'bower_components/gentelella/vendors/gauge.js/dist/gauge.min.js' %}"></script>
<!-- bootstrap-progressbar -->
<script src="{% static 'bower_components/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'bower_components/gentelella/vendors/iCheck/icheck.min.js' %}"></script>
<!-- Skycons -->
<script src="{% static 'bower_components/gentelella/vendors/skycons/skycons.js' %}"></script>
<!-- Flot -->
<script src="{% static 'bower_components/gentelella/vendors/Flot/jquery.flot.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/Flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/Flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/Flot/jquery.flot.stack.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/Flot/jquery.flot.resize.js' %}"></script>
<!-- Flot plugins -->
<script src="{% static 'bower_components/gentelella/vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/flot.curvedlines/curvedLines.js' %}"></script>
<!-- DateJS -->
<script src="{% static 'bower_components/gentelella/vendors/DateJS/build/date.js' %}"></script>
<!-- JQVMap -->
<script src="{% static 'bower_components/gentelella/vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static 'bower_components/gentelella/vendors/moment/min/moment.min.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

<!-- PNotify -->
<script src="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.buttons.js' %}"></script>
<script src="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.nonblock.js' %}"></script>

<!-- Switchery -->
<script src="{% static 'bower_components/gentelella/vendors/switchery/dist/switchery.min.js' %}"></script>

<!-- Custom Theme Scripts -->
<script src="{% static 'bower_components/gentelella/build/js/custom.js' %}"></script>

{% block js %}{% endblock %}

</body>
</html>
